<div class="w-100">
    <div class="submission-card w-100">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="card-title">Work Flow: Requires Location</h1>
            <div class="badge uncomplete">
                <div class="ball uncomplete"></div>
                <span class="uncomplet">Uncomplete</span>
            </div>
        </div>
        <div>
            <span>From: </span>
            <span>bomfimsdasdasd</span>
        </div>
        <div>
            <span>To: </span>
            <span>bsadasdasd</span>
        </div>
        <div>
            <span>Due Date: </span>
            <span>06 december</span>
        </div>
    </div>
</div>