<main class="h-100">
    <div class="">
        <h1 class="title">Submissions</h1>
    </div>
    <form class="mt-3">
        <div class="row">
            <div class="col-9 row">
                <div class="col-3">
                    <input type="text" class="form-control" id="inputField" placeholder="Search...">
                </div>
                <div class="col-3">
                    <select class="form-control" id="select1">
                    <option>Select Form</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control" id="select2">
                    <option>Select Status</option>
                    <option>Option A</option>
                    <option>Option B</option>
                    <option>Option C</option>
                    </select>
                </div>
                <div class="col-3">
                    <!-- <input type="text" class="form-control" id="datepicker" placeholder="Select Date"> -->
                    <div class="input-group">
                        <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            [(ngModel)]="model"
                            ngbDatepicker
                            #d="ngbDatepicker"
                        />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
            <div class="col-3 row d-flex justify-content-end align-items-center">
                <div class="col-4 btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary btn-toogle active">
                        <input type="radio" name="options" checked> Map
                    </label>
                    <label class="btn btn-outline-secondary btn-toogle">
                        <input type="radio" name="options" > List
                    </label>
                </div>
                <div class="ml-4 col-4">
                    <a class="d-flex gap-3 align-items-center" routerLink="/">
                        <img src="assets/icons/Paper Download.svg" alt="export icon" />
                        <span class="text-primary ml-1">Export</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
    <div class="card-map-container">
        <div class="card-container">
            @for(submission of submissions; track submission.id) {
                <app-submission-card [submission]=submission></app-submission-card>
            }
        </div>
        <div class="map-container bg-light">
            <app-submission-map></app-submission-map>
        </div>
    </div>
</main>
