<nav >
    <div >
        <span class="">ZenduForms</span>
    </div>
    <ul>
      <li>
        <a routerLink="/forms">
            <img src="assets/icons/format_list_bulleted.svg" alt="form" />
            Forms
        </a>
     </li>
     <li>
        <a routerLink="/customers">
            <img src="assets/icons/people.svg" alt="customer icon" />
            Customers
        </a>
     </li>
     <li>
        <a routerLink="/submissions">
            <img src="assets/icons/graphic_eq.svg" alt="submission icon" />
            Submissions
        </a>
     </li>
     <li>
        <a routerLink="/history">
            <img src="assets/icons/history.svg" alt="history icon" />
            History
        </a>
     </li>
     <li>
        <a routerLink="/reports">
            <img src="assets/icons/insert_chart_outlined.svg" alt="report icon" />
            Reports
        </a>
     </li>
     <li>
        <a routerLink="/workflow">
            <img src="assets/icons/insert_chart_outlined.svg" alt="workflow icon" />
            Workflow
        </a>
     </li>
    </ul>
    <div>
        <a routerLink="/">
            <img src="assets/icons/notifications.svg" alt="notification icon" />
          
        </a>
        <a routerLink="/">
            <img src="assets/icons/logout.svg" alt="logout icon" />
        </a>
    </div>
  </nav>